@import "leaflet/dist/leaflet";
//@import 'react-leaflet-markercluster/dist/styles'; // sass

@import "slick-carousel/slick/slick.scss";
@import "slick-carousel/slick/slick-theme.scss";

// 1. Your custom variables and variable overwrites.
$global-font-family: Open Sans, sans-serif;
$global-primary-background: #ff7847;
$global-tertiary-background: #00aab6;
$text-default-color: white;
$global-font-size: 15px;
$navbar-nav-item-height: 70px;
$button-secondary-background: $global-tertiary-background;
$comment-list-margin-top: 20px;
$offcanvas-bar-color-mode: dark;

#navbar { left: 0 !important }
.uk-text-default { color: $text-default-color !important }
.uk-text-tertiary { color: $global-tertiary-background !important }
.uk-background-tertiary { background-color: $global-tertiary-background !important }
.uk-text-bold { font-weight: 600 !important }
b { font-weight: 600 !important }
#listas .uk-active a { background-color: $global-tertiary-background }
#listas a { background-color: #80c4c9 }
.uk-audio { height: 32px; width: 80% }
.uk-backtop { background-position-y: top !important}

.uk-thumbnav {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.uk-background-linear {
  background: -webkit-linear-gradient(rgba(255,0,0,0),#f8f8f8,#f8f8f8, #f8f8f8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255,0,0,0),#f8f8f8,#f8f8f8, #f8f8f8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(255,0,0,0),#f8f8f8,#f8f8f8, #f8f8f8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(255,0,0,0),#f8f8f8,#f8f8f8, #f8f8f8); /* Standard syntax (must be last) */
}

.leaflet-top, .leaflet-bottom { z-index: 979 }

blockquote{
  border: 1px solid lightgray;
  background: #f9f9f9;
  padding: 20px;
  font-size: 0.8em !important;
}

table .uk-width-small { min-width: 150px }
table .uk-width-medium { min-width: 300px }
table .uk-width-large { min-width: 450px }

.uk-text-xsmall{
  font-size: 0.6em;
}

.menu > * > a{
  text-transform: none;
  color: #ff7847 !important;
}

a.menu{
  color: #ff7847 !important;
}

.uk-offcanvas-bar2{
    width: 350px;
    overflow-y: auto;
}

.scientificName{
  font-style: italic;
}

.reference-title{
  background-color: #F2F2F2;
  color: $global-tertiary-background;
  padding: 0 40px;
  cursor: pointer;
  font-size: 1em;
  margin-bottom: 0px;
  height: 40px;
  .provider{
    font-size: 0.9em;
    font-style: italic;
  }
}

.reference-content{
  background-color: #F2F2F2;
  padding: 14px 28px 28px;
}


p{
  line-height: 28px;
}

.reference-content li{
  line-height: 28px;
}

.uk-h3,
.uk-h4,
.linea{
  width   : auto;
  height  : 50px;   
  position: relative;
  z-index : 1;
  &:before {
    content : "";
    position: absolute;
    left    : 0;
    top  : 0px;
    height  : 1px;
    width   : 100px;  /* percentage of the element width*/
    border-bottom:3px solid $global-primary-background;
    margin-top:2em; /*move the border below the text*/
  }
}
.lineaR{
  content : "";
  position: absolute;
  left:  40px;
  top  : 0px;
  height  : 1px;
  width   : 100px;  /* percentage of the element width*/
  border-bottom:2px solid $global-primary-background;
  margin-top:40px; /*move the border below the text*/
}

.threadBadge{
  border: 2px solid $global-primary-background;
  background: $global-primary-background;
  color: #FFF;
  font-size: 1rem;
  font-weight: bolder;
}


.uk-card-img{
  min-height: 100px;
  min-width: 100px;
}

.uk-color-primary{
  color: $global-primary-background !important;
}


.contenedor {
  border: 1px solid #9da6a9;
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 20px
}

input.uk-input, textarea.uk-textarea {
  border: 1px solid lighten(#ff7847, 20%);
}


// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";
.width-small {
    width: calc(100vw - $offcanvas-bar-width);
    margin-left: $offcanvas-bar-width;
    transition: margin-left 0.3s ease-out !important;
}

@media (min-width: $breakpoint-medium) {
    .width-small {
        width: calc(100vw - $offcanvas-bar-width-m);
        margin-left: $offcanvas-bar-width-m;
        transition: transform 0.3s ease-out;
    }
}

// 3. Your custom mixin overwrites.
 
@mixin hook-offcanvas-overlay() { z-index: 1000 }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

.uk-pagination > * {
  padding-left: 20px;
  padding-right: 20px;
}

h4{
  margin-top: 20px;
}

h3{
  margin-top: 20px;
}

.uk-table th {
    text-transform: none;
}


.UICNContainerParent{
}
.UICNContainer{
  padding-left: 40px;
  min-width: 700px;

}
.UICNSlotContainer{
  padding-left: 0px;
}
.UICNSlotContainer div.title{
  color: black;
  font-size: 1.5em !important;
  border-top: 1px solid gray;
}
.UICNSlotContainer div.content{
  height: 30px;
  text-transform: uppercase;
  font-size: 0.5em;
  border-bottom: 1px solid gray;
}

.content-caja {
  width: 50px;
  float: left;
  margin: 8px;
  color: #b3b3b3;
}

.caja{
  height: 100px;
  padding-top: 20px;
  color: #b3b3b3;
  border-color: #b3b3b3;
}

.caja .title{
  font-family: "Arial";
  font-weight: bold;
  font-size: 24px;
  border: 1px solid #b3b3b3; 
  display: inline-block;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.cajaMini{
  margin-top: -30px;
  padding-top: 0px;
  height: 0px;
}
.cajaMini .title{
  font-size: 17px;
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.caja .content{
  font-size: 9px;
  line-height: 9px;
  padding-top: 10px;
  color: #b3b3b3;
}

.UICN {
  margin-left: 0px;
}

.container {
  background-color: red;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}

.uicn-icon{
  width: 10px;
  height: 10px;
  border-radius: 500px;
  display:inline-block;
  margin:0 2px;
}

.caja-UICN_NE{
  .title{
    background: #ffffff;
    color: #1a1a1a;
    border-color: #666666;
  }
  .content{
    color: #333333;
  }  
}
.caja-UICN_DD{
  .title{
    background: #8e8e8e;
    color: #ffffff;
    border-color: #666666;
  }
  .content{
    color: #333333;
  }  
}
.caja-UICN_LC{
  .title{
    background: #006867;
    color: #ffffff;
    border-color: #666666;
  }
  .content{
    color: #333333;
  }  
}
.caja-UICN_NT{
  .title{
    background: #006867;
    color: #8ace94;
    border-color: #666666;
  }
  .content{
    color: #333333;
  }
}
.caja-UICN_VU{
  .title{
    background: #d59800;
    color: #ffffc6;
    border-color: #666666;
  }
  .content{
    color: #333333;
  }
}
.caja-UICN_EN{
  .title{
    background: #db5f1f;
    color: #ffc990;
    border-color: #666666;
  }
  .content{
    color: #333333;
  }
}
.caja-UICN_CR{
  .title{
    background: #de1929;
    color: #ffcacb;
    border-color: #666666;
  }
  .content{
    color: #333333;
  }
}
.caja-UICN_EW{
  .title{
    background: #000000;
    color: #ffffff;
    border-color: #666666;
  }
  .content{
    color: #333333;
  }
}
.caja-UICN_EX{
  .title{
    background: #000000;
    color: #de1929;
    border-color: #666666;
  }
  .content{
    color: #333333;
  }
}


.thread-badge{
  display: inline-block;
  margin: 0px 5px;
}


/* If you want text inside of the container */
.text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.uk-width-1-10 { width: 10%; }

